a:link
{
  color:black;
}
a:hover
{
  background-color: lightgreen;
}
a:visited
{
  color: black;
}
#topBox
{
  background-color: lightgray;
  height: 10%;
  border-style: groove;
  border-color: darkgray;
}
#buttonsColumn
{
  float: right;
  padding: 15px;
}
#loginButton
{
  background-color: lightblue;
  color: white;
  float: right;
}
#registerButton
{
  background-color: lightblue;
  color: white;
  float: right;
}
#homeButton
{
  background-color: lightblue;
    color: white;
    padding: 1.8% 40%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
